<h1><%= t('action.tasks') %></h1>

<p id="notice"><%= notice %></p>

<table>
  <thead>
    <tr>
      <th><%= t('task.task_name') %></th>
      <th><%= t('task.to_do') %></th>
      <th><%= t('task.deadline') %><%= link_to "▼", tasks_path(sort: "deadline") %></th>
      <th><%= t('task.status') %><%= link_to "▼", tasks_path(sort: "status") %></th>
      <th><%= t('task.priority') %><%= link_to "▼", tasks_path(sort: "priority") %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td class="task_row"><%= task.task_name %></td>
        <td><%= task.to_do %></td>
        <td><%= task.deadline %></td>
        <td><%= task.status %></td>
        <td><%= task.priority %></td>
        <td><%= link_to t('action.show'), task %></td>
        <td><%= link_to t('action.edit'), edit_task_path(task) %></td>
        <td><%= link_to t('action.destroy'), task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('action.new'), new_task_path %> |
<%= link_to "終了期限で並び替え", tasks_path(sort: "deadline") %> |
<%= link_to "優先順位で並び替え", tasks_path(sort: "priority") %> |
<%= link_to "全件表示", tasks_path %>

<div class="search-form">
  <%= form_with( url: tasks_path, method: :get, local: true) do |f| %>
    <p>タスク名で検索する</p>
    <%= f.text_field :search_task_name, id: "search_task_name", value: params[:search_task_name] %>
    <%= f.select :search_status, Task.statuses.keys, {include_blank: '選択してください'} %>
    <%= f.submit "検索" %>
  <% end %>
</div>

<%= paginate @tasks %>

