<h1>詳細</h1>

<p id="notice"><%= notice %></p>

<div class="show_area">
  <p>
    <strong><%= t('task.task_name') %>:</strong>
    <%= @task.task_name %>
  </p>

  <p>
    <strong><%= t('task.to_do') %>:</strong>
    <%= @task.to_do %>
  </p>

  <p>
    <strong><%= t('task.deadline') %>:</strong>
    <%= @task.deadline %>
  </p>

  <p>
    <strong><%= t('task.status') %>:</strong>
    <%= @task.status %>
  </p>

  <p>
    <strong><%= t('task.priority') %>:</strong>
    <%= @task.priority %>
  </p>

  <p>
    <strong>ラベル:</strong>
    <% @label.each do |label| %>
      <span class="label label-default"><%= label.label_name %></span>
    <% end %>
  </p>
</div>

<div class="bottom_link">
  <%= link_to t('action.edit'), edit_task_path(@task) %> |
  <%= link_to t('action.back'), tasks_path %>
</div>