<h1>詳細</h1>

<p id="notice"><%= notice %></p>

<div class="show_area">
  <p>
    <strong>ユーザー名:</strong>
    <%= @user.user_name %>
  </p>

  <p>
    <strong>メールアドレス:</strong>
    <%= @user.email %>
  </p>

  <p>
    <strong>管理者:</strong>
    <%= @user.admin %>
  </p>
</div>

<div class="bottom_link">
  <%= link_to t('action.edit'), edit_user_path(@user) %> |
  <%= link_to t('action.back'), users_path %>
</div>