<%= form_with(model: lavel, local: true) do |form| %>
  <% if lavel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lavel.errors.count, "error") %> prohibited this lavel from being saved:</h2>

      <ul>
      <% lavel.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :lavel_name %>
    <%= form.text_field :lavel_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
